{% macro image(image_title, image_attribution, image_url, depicteds, heading="h2") %}
{% set image_title_ = image_title.replace(' ', '_') %}
<{{ heading }}><a href="https://commons.wikimedia.org/wiki/File:{{ image_title_ }}">{{ image_title }}</a></{{ heading }}>
{% if image_attribution %}
<p class="lead">
  {{ image_attribution.attribution_html }}
</p>
{% endif %}
<div class="wd-image-positions--image">
  <img src="{{ image_url }}"
       srcset="https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=220 220w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=320 320w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=640 640w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=800 800w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1024 1024w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1280 1280w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=1920 1920w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=2560 2560w,
               https://commons.wikimedia.org/wiki/Special:FilePath/{{ image_title_ }}?width=2880 2880w">
  {% set depicteds_without_region = [] %}
  {% for depicted in depicteds %}
  {% if depicted.iiif_region %}
  <div class="wd-image-positions--depicted"
       title="{{ depicted.label.value }}{% if 'item_id' in depicted %} ({{ depicted.item_id }}){% endif %}"
       style="{{ depicted.iiif_region | iiif_region_to_style }}"
       data-statement-id="{{ depicted.statement_id }}"
       data-qualifier-hash="{{ depicted.qualifier_hash }}">
    {{ depicted | depicted_item_link }}
  </div>
  {% else %}
  {% do depicteds_without_region.append(depicted) %}
  {% endif %}
  {% endfor %}
</div>

<div class="wd-image-positions--sidebar">
  <!-- the following HTML (modulo whitespace) is also synthesized by static/image.js, keep in sync -->
  <div>
    Depicted, but with no region specified:
    <ul class="depicted-no-region">
      {% for depicted in depicteds_without_region %}
      <li class="wd-image-positions--depicted-without-region" data-statement-id="{{ depicted.statement_id }}">{{ depicted | depicted_item_link }}</li>
      {% endfor %}
    </ul>
  </div>

  <div>
    Depicted with region:
    <ul class="depicted-with-region">
      {% for depicted in depicteds %}
      {% if depicted.iiif_region %}
      <li class="wd-image-positions--depicted-suggested">{{ depicted | depicted_item_link }}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div>
    Suggested depictions:
    <ul>
      <li class="wd-image-positions--depicted-suggested"><a href="http://www.wikidata.org/entity/Q8441" data-entity-id="Q8441" lang="en">man</a></li>
      <li class="wd-image-positions--depicted-suggested"><a href="http://www.wikidata.org/entity/Q467" data-entity-id="Q467" lang="en">woman</a></li>
      <li class="wd-image-positions--depicted-suggested"><a href="http://www.wikidata.org/entity/Q7569" data-entity-id="Q7569" lang="en">child</a></li>
      <li class="wd-image-positions--depicted-suggested"><a href="http://www.wikidata.org/entity/Q10884" data-entity-id="Q10884" lang="en">tree</a></li>
      <li class="wd-image-positions--depicted-suggested"><a href="http://www.wikidata.org/entity/Q81710" data-entity-id="Q81710" lang="en">shepherd</a></li>
      <li class="wd-image-positions--depicted-suggested"><a href="http://www.wikidata.org/entity/Q235113" data-entity-id="Q235113" lang="en">angel</a></li>
    </ul>
  </div>
</div>

{% endmacro %}
