{% extends "base.html" %}
{% block main_tag_attributes %}class="container mt-3"{% endblock main_tag_attributes %}
{% block main %}
<h1>Tool</h1>

<p>Please sign in prior to using this tool.</p>

<ul id="fileList"></ul>
{% endblock %}

{% block final_body %}
<script>
    const fetchJSON = async (url) => await (await fetch(url, { headers: new Headers({ 'Accept': 'application/json' }) })).json();
    const fileList = document.getElementById('fileList');
    fetchJSON('{{ url_for('static', filename='target-entities.json') }}').then(data => {
        data.forEach(target =>{
            const liElm = document.createElement('li');
            const aElm = document.createElement('a');
            const text = document.createTextNode(target);
            aElm.href = 'editor/' + target;
            aElm.appendChild(text);
            liElm.appendChild(aElm);
            fileList.appendChild(liElm);
        })
    })
</script>
{% endblock %}